---
import { BaseLayout } from "cmdesigns";
import Rater from "../components/Rater";
import { kinks, ratingColors, ratingNames } from "../base";
import favicon from "../favicon.png";
import { version } from "../../package.json";
---

<BaseLayout lang="en" copyrightstart="2023" title="KinkCheck" {favicon}>
	<header>
		<h1>KinkCheck<span class="h2thing">.Top v{version}</span></h1>
		{
			[...ratingNames.keys()].map((i) => (
				<div class="rater noclick">
					<button style={"background-color:" + ratingColors[i]} />
					{ratingNames[i]}
				</div>
			))
		}
	</header>
	<!-- TODO: some explainations, especially of how the kinks should be interpreted -->
	<!-- TODO: show positions -->
	<main>
		{
			Object.entries(kinks).map(([cat, kinks]) => (
				<div>
					<h2>{cat}</h2>
					{kinks.map(([kink, _positions]) => (
						<Rater client:load text={kink} />
					))}
				</div>
			))
		}
	</main>
</BaseLayout>

<style is:global>
	h1 {
		margin: 0;
	}
	.h2thing {
		font-size: 0.75em;
	}
	header {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto auto auto auto auto auto auto;
		align-items: center;
	}
	main {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto auto auto;
	}
	h2 {
		margin-bottom: 0.25em;
	}
	.rater {
		font-size: 16pt;
		padding-bottom: 2px;
		cursor: pointer;
		-webkit-user-select: none;
		user-select: none;
	}
	.rater button {
		width: 16pt;
		height: 16pt;
		border: none;
		cursor: pointer;
		margin-right: 4px;
	}
	.noclick,
	.noclick button {
		cursor: auto;
	}
</style>
