---
import Avatar from "./Avatar.astro";
import LinkCard from "./LinkCard.astro";

export interface Props {
    id: string;
    avatar_url: string;
    username: string;
    full_name: string;
    smol?: boolean;
}

const { id, avatar_url, username, full_name, smol } = Astro.props;
---

<LinkCard href={`/profiles/${id}`} {smol}>
    <div>
        <Avatar {username} {avatar_url} size={smol ? "22px" : "54px"} />
        <p>{full_name} (@{username})</p>
    </div>
</LinkCard>

<style>
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 1em;
        justify-content: space-around;
    }
    p {
        margin: auto 0;
    }
</style>
