---
import { BaseLayout, Footer } from "cmdesigns";
import favicon from "../favicon.png";
import { version } from "../../package.json";
import ScreenshotButton from "../components/ScreenshotButton";
import type { Options } from "html2canvas";

export interface Props {
    title?: string;
    screenshotOptions?: Partial<Options>;
}

const kc = `KinkCheck.Top v${version}`;
let { title = kc, screenshotOptions = {} } = Astro.props;
if (!title.includes(kc)) title += " | " + kc;
---

<BaseLayout lang="en" {title} {favicon}>
    <div id="content">
        <slot />
    </div>
    <Footer start={2023} link="https://github.com/chrissxMedia/KinkCheck.Top">
        <nav>
            <a href="/tlcc">Trans Lesbian Badges</a>
            <a href="/flag">Flag Generator</a>
            <ScreenshotButton {title} options={screenshotOptions} client:load />
        </nav>
    </Footer>
</BaseLayout>

<style>
    div#content {
        padding: 12px;
        margin: auto;
    }
    @media screen and (width <= 600px) {
        div#content {
            padding: 0;
        }
    }
    nav {
        display: flex;
        column-gap: 1ch;
        justify-content: center;
        /* TODO: figure out an appropriate padding (or margin) in part based on vw */
    }
    nav :global(a),
    nav :global:visited {
        color: #c0c0c0;
        text-decoration: underline;
        cursor: pointer;
    }
</style>
