---
import { BaseLayout, Footer } from "cmdesigns";
import favicon from "../favicon.png";
import { version } from "../../package.json";
import ScreenshotButton from "../components/ScreenshotButton";
import type { Options } from "html2canvas";
import Header from "../components/Header.astro";

export interface Props {
    title?: string;
    headertitle?: string;
    screenshotOptions?: Partial<Options>;
}

const kc = "KinkCheck.Top";
let { title = kc, headertitle, screenshotOptions } = Astro.props;
if (!title.includes(kc)) title += " | " + kc;
headertitle ??= Astro.props.title;
---

<BaseLayout lang="en" {title} {favicon}>
    <div id="screenshotcontents">
        <Header>
            <Fragment slot="title">
                {headertitle}<slot name="extratitle" />
            </Fragment>
            <slot name="header" />
        </Header>
        <div id="content">
            <slot />
        </div>
    </div>
    <Footer start={2023} link="https://github.com/chrissxMedia/KinkCheck.Top">
        <nav>
            <!--<a href="/tutorial">Overview & Tutorial</a>-->
            <a href="/tlcc">Trans Lesbian Badges</a>
            <a href="/flag">Flag Generator</a>
            <a href="/rewind">Rewind</a>
            <!-- TODO: <a href="?">Merch</a> -->
            <ScreenshotButton {title} options={screenshotOptions} client:load />
        </nav>
        <!-- TODO: find a way to put this in the footer element well -->
        <p>{kc} v{version}</p>
    </Footer>
</BaseLayout>

<style>
    div#content {
        padding: 0 calc(0.666vw - 4px);
        margin: auto;
    }
    @media screen and (width <= 600px) {
        div#content {
            padding: 0;
        }
    }
    nav {
        display: flex;
        column-gap: 1ch;
        justify-content: center;
        /* TODO: figure out an appropriate padding (or margin) in part based on vw */
    }
    :global(a),
    :global:visited {
        color: #c0c0c0;
        text-decoration: underline;
        cursor: pointer;
    }
    p {
        margin: 0;
        margin-top: 0.5em;
    }
</style>
